$color-primario: #151415;
$color-secundario: #FEFEFF;
$color-terciario: #D62033;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
$fuente-base: "Montserrat", sans-serif;